.bread{
    background-color: #E8E8D0;
}

.bread-style{
    list-style: none;
    display: flex;
}

.row{
    list-style: none;
}
.container1{
    display: flex;
    justify-content: center;
    background-color: #E8E8D0;
    width: 100%;
}

.box1{
    margin: 50px;
    width: 50%;
    background:#ccd8b0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47% 53% 45% 55% / 57% 54% 46% 43%  ;
    font-family: Arial, Helvetica, sans-serif;
   
}

.picture {
    width: 50%;
    margin: 50px;
}

.picture > img{
    width: 100%;
    border-radius: 90%;
    object-fit: cover;
}


.bag{
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}
.bag img{
    width: 100%;
}
.bag >img:hover{

    transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}

.name{
    display: flex;
    justify-content: center;
}

.price{
display: flex;
justify-content: center;
margin-top: 10px;
}

.manbag{
    position: relative;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    opacity: 0.5; 
    
}

.manbag img{
    width: 100%;
}
.sold-out{
    position: absolute;
    left: 75px;
    top: 150px;
}

.aboutus{
    width: 400px;
    text-align: center;
}

.aboutus > a >p:hover{
 font-weight: bold;
 text-decoration: underline;
}

.shop{
    width: 400px;
    text-align: center;
}

.shop > a >p:hover{
 font-weight: bold;
 text-decoration: underline;

}

.contact{
    width: 400px;
    text-align: center;
}

.footer{
    display: flex;
    background-color:#ccd8b0;
    margin-top: 100px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    
}


.shop > a >img{
    border-radius: 90%;
    margin-top: 30px;
}



@media screen and (max-width:1024px){
    .bag{
        margin-left: auto;
        margin-right: auto;
    }
    .bag img{
        display: block;
        width: 70%;
        margin: auto;
    }

    .manbag{
        margin-left: auto;
        margin-right: auto;
    }
    .manbag img{
        display: block;
        width: 70%;
        margin: auto;
    }

    .sold-out{
        position: absolute;
        left: 150px;
        top: 150px;
    }
    
    .box1{
        background-color: transparent;
        position: absolute;
        top:50%;
        margin: 0%;
        transform: translateY(-50%);
    }
    .picture{
        opacity: 0.3;
        width: 80%;
        margin: auto;
    }
    
    .picture >img{
    width: 100%;
    object-fit: cover;
    }
    .container1{
        position: relative;
    }