.bread{
    background-color: #E8E8D0;
}

.bread-style{
    list-style: none;
    display: flex;
}


.container{
    display: flex;
    justify-content: center;
    background-color: #E8E8D0;
}

.box{
    width: 600px;
    height: 400px;
    background:#d6d970;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45% 55% 55% 45% / 57% 55% 45% 43% ;
    font-family: Arial, Helvetica, sans-serif;
   
}

.picture {
    margin: 10px;
}

.picture > img{
    border-radius: 90%;
}

.column-1{
  
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.bag{
    width: 250px;
    border-radius: 5%;
    margin: 50px;
    overflow: hidden;
  
  
}


.bag >img:hover{

    transform:scale(1.2,1.2);transition: all 0.5s ease-out;
}

.name{
    display: flex;
    justify-content: center;
}

.price{
display: flex;
justify-content: center;
margin-top: 10px;
}

.manbag{
    position: relative;
    width: 250px;
    border-radius: 5%;
    margin: 50px;
    overflow: hidden;
    opacity: 0.5; 
    
}

.sold-out{
    position: absolute;
    left: 75px;
    top: 150px;
}

.aboutus{
    width: 400px;
    text-align: center;
}

.aboutus > a >p:hover{
 font-weight: bold;
 text-decoration: underline;
}

.shop{
    width: 400px;
    text-align: center;
}

.shop > a >p:hover{
 font-weight: bold;
 text-decoration: underline;

}

.contact{
    width: 400px;
    text-align: center;
}

.footer{
    display: flex;
    background-color:#ccd8b0;
    margin-top: 100px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    
}


.shop > a >img{
    border-radius: 90%;
    margin-top: 30px;
}

.copyright{
    padding-top: 10px;
}

@media screen and (max-width:1200px){
    .container{
        display: flex;
        justify-content: center;
        background-color: #E8E8D0;
        position: relative;
    }
    
    .box{
        max-width: 600px;
        width: calc(100vh- 10em);
        max-height: 400px;
        height: calc(100vh- 10em);
        background:transparent;
        position: absolute;
        top: -20%;
       
    }
    
    .picture {
        margin: 10px;
        
    }
    
    .picture > img{
        border-radius: 90%;
        opacity: 0.3;
        width: 450px;
        height: 300px;
        
    }
    
    .column-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        
    }

}