body{
    background-color: #E8E8D0;
}
.slides >img{
    background-size:100%;
    
}

.ourstory{
    text-align: center;
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: -50px;
}
.row{
    list-style: none;
}
.story-pic{
    width: 100%;
   
}
.story-pic > img{
    width: 100%;
    border-radius: 10%;
    margin: 10px 0px;
}

.text{
    font-size: 20px;
    color: #556168;   
    margin-top: 50px;
    text-align: center;
}

.seemore > a >p{
    font-weight: bold;
}
.seemore{
    width: 80px;
    text-align: center;
    border-radius: 10%;
    background-color: #d6d970;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------*/

.title-2{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.item{ text-align: center;
    color: #556168;
    
}

.item  img{
    border-radius: 10%;
    vertical-align:middle;
    box-shadow: 2px 2px 2px 2px #556168;
    opacity: 0.9;
    height: 100%;
}


.word{
  
    margin-top: 20px;
    border-radius: 20%;
    background-color: #d6d970;
    margin-left: auto;
    margin-right: auto;
 
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.category{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin-top: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}



.row{
    list-style: none;
    background-color:#E8E8D0;
    margin-top: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
.group{
    background-color: #fff;
    margin: 5px;
    width: 100%;
    filter: brightness(85%);
    opacity: 0.9;
    box-shadow: 3px 3px 10px #d6d970;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 4s;
    position: relative;
 
   
   
}

.group-text{
    width: 100px;
    margin-bottom: -100px;
    margin-top: 100px;
    margin-left: 50px;
    text-decoration: underline 2px
    solid #556168;

}
.group-text2{
    width: 100px;
    margin-bottom: -100px;
    margin-top: 100px;
    margin-left: 50px;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 4s;
    position: relative;
    text-decoration: underline 2px
     solid #556168;
}


@keyframes myframes{
    0%{left: -1500px;}
    50%{left: -700px;}
    100%{left: 0px;}
}


.group:hover{
    filter: brightness(100%);
}
.group img{
    width: 100%;
 
}
@media screen and (max-width:1200px){
    
.category{
 display: none;
}

.ourstory{
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: -100px;
}
.row{
    list-style: none;
}
.story-pic{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.story-pic > img{
    display: block;
    width: 100%;
    border-radius: 10%;
    margin: 20px 0px;
}

.text{
    font-size: 16px;
    color: #556168;   
    margin-top: 50px;
    text-align: center;
}

.group{
    margin-left: auto;
    margin-right: auto;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 0.5s;
    width: 70%;
}

.group-text{
    display: none;
}
.group img{
    display: block;
    width: 70%;
    margin: auto;
}


.container-3{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
     .hope{
         color: #556168;
         width: 100%;
         height: auto;
         font-size: 16px;
         font-family: Arial, Helvetica, sans-serif;
         margin-left: auto;
         margin-right: auto;
         position: absolute;
         top: 10%;

         background-color: transparent;
     }

     .hope > p{
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .hope-2{
        margin-left: auto;
        margin-right: auto;
    }

    .hope-2 img{
        width: 100%;
        height: auto;
        opacity: 0.15;
        position: relative;
    }
      

    .group-text2{
        width: 100px;
        margin-bottom: -100px;
        margin-right: auto;
        margin-left: auto;
        animation: myframes cubic-bezier(.14,.13,.72,.75) 0.5s;
        position: relative;
       
    }
}