body{
    background-color: #E8E8D0;
}
.slides >img{
    background-size:100%;
    
}


.container-1{
    display: flex;
    margin-top: 200px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
  
   
   
}
.story-pic img{
    vertical-align: middle;
    border-radius: 5%;
    margin: 10px;
}

.text{
    border-radius: 5%;
    color: #556168;
    width: 600px;
    height: auto;
    background-color: #ccd8b0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}

.seemore > a >p{
    font-weight: bold;
}
.seemore{
    width: 100px;
    border-radius: 10%;
    background-color: #d6d970;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------*/

.title-2{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.item{ text-align: center;
    color: #556168;
    
}

.item  img{
    border-radius: 10%;
    vertical-align:middle;
    box-shadow: 2px 2px 2px 2px #556168;
    opacity: 0.9;
    height: 100%;
}


.word{
  
    margin-top: 20px;
    border-radius: 20%;
    background-color: #d6d970;
    margin-left: auto;
    margin-right: auto;
 
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.category{
    width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.row{
    list-style: none;
    background-color:#E8E8D0;
    margin-top: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
.group{
    background-color: #fff;
    margin: 5px;
    width: 100%;
    filter: brightness(85%);
    opacity: 0.9;
    box-shadow: 3px 3px 10px #d6d970;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 4s;
    position: relative;
 
   
   
}

.group-text{
    width: 100px;
    margin-bottom: -100px;
    margin-top: 100px;
    margin-left: 50px;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 4s;
    position: relative;
    text-decoration: underline 2px
     solid #556168;
}


@keyframes myframes{
    0%{left: -1500px;}
    50%{left: -700px;}
    100%{left: 0px;}
}


.group:hover{
    filter: brightness(100%);
}
.group img{
    width: 100%;
 
}

.container-3{
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.hope-2 img{
    max-width: 600px;
    height: 300px;
    border-radius: 5%;
    margin: 10px;

}
.hope{
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ccd8b0 ;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5%;
    margin: 10px;


}

.hope > p{
    font-family: Arial, Helvetica, sans-serif;
    
}


@media screen and (max-width:1200px){
    

.story-pic{
   display: none;
}


.text{
    color: #556168;
    width: 100%;
    height: auto;
    background-color: #ccd8b0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}
.seemore > a >p{
    font-weight: bold;
}

/*---------------*/
.title-2{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}


.category{
 display: none;
}



.group{
    margin-left: auto;
    margin-right: auto;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 0.5s;
    width: 70%;
}
.group img{
    display: block;
    width: 70%;
    margin: auto;
}


.container-3{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
     .hope{
         color: #556168;
         width: 100%;
         height: auto;
         font-size: 16px;
         font-family: Arial, Helvetica, sans-serif;
         margin-left: auto;
         margin-right: auto;
         position: absolute;
         top: 10%;

         background-color: transparent;
     }

     .hope > p{
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .hope-2{
        margin-left: auto;
        margin-right: auto;
    }

    .hope-2 img{
        width: 100%;
        height: auto;
        opacity: 0.15;
        position: relative;
    }
      

    .group-text{
        width: 100px;
        margin-bottom: -100px;
        margin-right: auto;
        margin-left: auto;
        animation: myframes cubic-bezier(.14,.13,.72,.75) 0.5s;
        position: relative;
       
    }
}