*{
    outline-style: 1px solid red;
}
body{
    background-color: #E8E8D0;
}
.bread-style{
    list-style: none;
    display: flex;
}

.videostyle{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.videostyle video{
    width: 100%;
    display: block;
    height: auto;
}

.mountain{
    margin-top: 100px;
    font-size: 20px;
    color: #556168;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    list-style: none;
    
 
}

.pic-1{
    margin-top: 100px;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 2s;
    position: relative;
}

@keyframes myframes{
    0%{left: -1000px;}
    50%{left: -500px;}
    100%{left: 0px;}
}

.pic-1 img{
    width: 100%;
    display: block;
    border-radius: 10%;
}

   
 .text-1{
     width: 50%;
     max-width: 600px;
     padding: 0;
     margin-left: 100px;
     font-size: 20px;
     margin-top: 200px;
     color: #556168;
     animation: myframes cubic-bezier(.14,.13,.72,.75) 2s;
     position: relative;
    
    
 } 

 .text-1 h2{
text-decoration: underline 2px solid #556168;
 }
 
 .pic-2{
    margin-top: 100px;
    animation: myframes cubic-bezier(.14,.13,.72,.75) 3s;
    position: relative;
}

@keyframes myframes{
    0%{left: -1000px;}
    50%{left: -500px;}
    100%{left: 0px;}
}

.pic-2 img{
    width: 100%;
    display: block;
    border-radius: 10%;
}

   
 .text-2{
     width: 50%;
     max-width: 600px;
     padding: 0;
     margin-left: 100px;
     font-size: 20px;
     margin-top: 200px;
     color: #556168;
     animation: myframes cubic-bezier(.14,.13,.72,.75) 3s;
     position: relative;
    
    
 } 

 .text-2 h2{
text-decoration: underline 2px solid #556168;
 }

    .aboutus{
        width: 400px;
        text-align: center;
    }
    
    .aboutus > a >p:hover{
     font-weight: bold;
     text-decoration: underline;
    }
    
    .shop{
        width: 400px;
        text-align: center;
    }
    
    .shop > a >p:hover{
     font-weight: bold;
     text-decoration: underline;
    
    }
    
    .contact{
        width: 400px;
        text-align: center;
    }
    
    .footer{
        display: flex;
        background-color:#ccd8b0;
        margin-top: 200px;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .shop > a >img{
        border-radius: 90%;
        margin-top: 30px;
    }
    
   
@media screen and (max-width:1080px){
    .mountain{
        font-size: 16px;
    }
    .pic-1{
        margin-top: 100px;
        animation: myframes cubic-bezier(.14,.13,.72,.75) 0s;
        position: relative;
    }
    
    @keyframes myframes{
        0%{left: -1000px;}
        50%{left: -500px;}
        100%{left: 0px;}
    }
    
    .pic-1 img{
        width: 100%;
        display: block;
        border-radius: 10%;
    }
    
       
     .text-1{
         width: 50%;
         max-width: 600px;
         padding: 0;
         margin-left: auto;
         margin-right: auto;
         font-size: 20px;
         margin-top: 100px;
         color: #556168;
         animation: myframes cubic-bezier(.14,.13,.72,.75) 0s;
         position: relative;
        
        
     } 
    
     .text-1 h2{
    text-decoration: underline 2px solid #556168;
    
     }

     .pic-2{
        margin-top: 100px;
        animation: myframes cubic-bezier(.14,.13,.72,.75) 0s;
        position: relative;
    }
    
    @keyframes myframes{
        0%{left: -1000px;}
        50%{left: -500px;}
        100%{left: 0px;}
    }
    
    .pic-2 img{
        width: 100%;
        display: block;
        border-radius: 10%;
    }
    
       
     .text-2{
         width: 50%;
         max-width: 600px;
         padding: 0;
         margin-left: auto;
         margin-right: auto;
         font-size: 20px;
         margin-top: 100px;
         color: #556168;
         animation: myframes cubic-bezier(.14,.13,.72,.75) 0s;
         position: relative;
        
        
     } 
    
     .text-2 h2{
    text-decoration: underline 2px solid #556168;
     }
    


















}
   
   
 
