
  *{
    margin:0;
    padding:0;
 }
a{text-decoration: none;}
a{color:#556168;}
h2{color: #556168;}
h3{color: #556168;}
p{color: #556168;}


.main-header{
    display: flex;
    background-color:#ccd8b0;
    align-items: center;
    justify-content: space-between;
    position: relative;
   
}


.logo{
    margin:0px;

}

#menu-control{
display: none;
}


.hb{
    width: 45px;
    height: 45px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hb span{
    width: 32px;
    height: 2px;
    background-color: #fff;
}

.hb span :first-child{
    margin-top: 8px;
}

.hb span :last-child{
    margin-bottom: 8px;
}


.main-nav{
    display: block;
    position: absolute;
    background-color: #ccd8b0;
    top: 100%;
    left: -80%;
    width: 80%;
    height: calc(100vh -75px);
    transition: all 1s;
    z-index: 3;
    opacity: 0.9;
}

.main-nav > a{
    display: block;
    padding: 20px;
    font-size: 20px;

}

.main-nav a:hover{
    font-weight: bold;
    text-decoration: underline;
    }

#menu-control:checked ~ .main-header .main-nav{
    left: 0;
}


input{
    font-size: 18px;
}

.search{
    display: none;
    align-items: center;
}

@media screen and (min-width:1200px){

.hb{
    display: none;
}

.main-nav{
    position: relative;
    background-color: transparent;
    top: 0%;
    left: 0%;
    width: auto;
    height: auto;
    transition: all 1s;
}


    .main-nav a{
    display: inline-block;
    padding: 10px 20px;
}

    .main-nav a:hover{
    font-weight: bold;
    text-decoration: underline;
    }
    
    .search{
        display: block;
    }

}
    
