.bread-style{
    list-style: none;
    display: flex;
    background-color: #E8E8D0;
    
}

.row{
    list-style: none;
}

.container1{
    display: flex;
    justify-content: center;
    background-color: #E8E8D0;
    width: 100%;
}

.box1{
    margin: 50px;
    width: 50%;
    background:#ccd8b0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47% 53% 45% 55% / 57% 54% 46% 43%  ;
    font-family: Arial, Helvetica, sans-serif;
   
}
.box2{
    margin: 50px;
    width: 50%;
    background:#ccd8b0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47% 53% 45% 55% / 57% 54% 46% 43%  ;
    font-family: Arial, Helvetica, sans-serif;
   
}


.picture {
    width: 50%;
    margin: 50px;
}

.picture > img{
    width: 100%;
    border-radius: 90%;
    object-fit: cover;
}


.coat{
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    margin-top: 100px;
}

.coat img{
    width: 100%;
}

.coat >img:hover{

    transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}


.name{
    display: flex;
    justify-content: center;
}

.price{
display: flex;
justify-content: center;
margin-top: 10px;
}



.plants{
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
  margin-top: 100px;
  
}
.plants img{
    width: 100%;
}

.plants >img:hover{
 transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}


.container-2{
    display: flex;
    justify-content: center;
    background-color: #E8E8D0;
    width: 100%;
    margin-top: 100px;
}


.picture-2{
    margin: 10px;
}
.picture-2 > img{
    border-radius: 90%;
}



.shoes{
  width: 100%;
  border-radius: 5%;
  opacity: 0.5; 
  position: relative;
  margin-top: 100px;
  
}

.shoes img{
    width: 100%;
}

.manshoes{
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    margin-top: 100px;
    
  }
.manshoes img{
    width: 100%;
}
.manshoes > img:hover{
    transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}

.womencoat{
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    margin-top: 100px;
    
}
.womencoat img{
    width: 100%;
}

.womencoat > img:hover{
    transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}


.womenplants{
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
  margin-top: 100px;
 
}

.womenplants img{
width: 100%;
}

.womenplants > img:hover{

transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}



.womenshoes{
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
  margin-top: 100px;
}

.womenshoes img{
    width: 100%;
}
.womenshoes > img:hover{
    transform:scale(1.1,1.1);transition: all 0.5s ease-out;
}


.soldout{
    position: absolute;
    bottom: 150px;
    left: 75px;
}


.aboutus{
    width: 400px;
    text-align: center;
}

.aboutus > a >p:hover{
 font-weight: bold;
 text-decoration: underline;
}

.shop{
    width: 400px;
    text-align: center;
}

.shop > a >p:hover{
 font-weight: bold;
 text-decoration: underline;

}

.contact{
    width: 400px;
    text-align: center;
}

.footer{
    display: flex;
    background-color:#ccd8b0;
    margin-top: 100px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    
}


.shop > a >img{
    border-radius: 90%;
    margin-top: 30px;
}



/*----------------------------------*/
@media screen and (max-width:1024px){
    .coat{
        margin-left: auto;
        margin-right: auto;
    }
    .coat img{
        display: block;
        width: 70%;
        margin: auto;
    }
    
    .plants{
        margin-left: auto;
        margin-right: auto;
    }
    .plants img{
        display: block;
        width: 70%;
        margin: auto;
    }
    .shoes{
        margin-left: auto;
        margin-right: auto;
    }
    .shoes img{
        display: block;
        width: 60%;
        margin: auto;
    }
    
    .manshoes{
        margin-left: auto;
        margin-right: auto;
    }
    .manshoes img{
        display: block;
        width: 60%;
        margin: auto;
    }
    
    .womencoat{
        margin-left: auto;
        margin-right: auto;
    }
    .womencoat img{
        display: block;
        width: 60%;
        margin: auto;
    }
    
    
    .womenplants{
        margin-left: auto;
        margin-right: auto;
    }
    .womenplants img{
         display: block;
        width: 60%;
        margin: auto;
    }
    
    
    .womenshoes{
        margin-left: auto;
        margin-right: auto;
    }
    .womenshoes img{
        display: block;
        width: 60%;
        margin: auto;
    }
}
@media screen and (max-width:768px){
.box1{
    background-color: transparent;
    position: absolute;
    top:50%;
    margin: 0%;
    transform: translateY(-50%);
}
.picture{
    opacity: 0.3;
    width: 80%;
    margin: auto;
}

.picture >img{
width: 100%;
object-fit: cover;
}
.container1{
    position: relative;
}

.box2{
    background-color: transparent;
    position: absolute;
    top:50%;
    margin: 0%;
    transform: translateY(-50%);
}
.picture{
    opacity: 0.3;
    width: 80%;
    margin: auto;
}

.picture >img{
width: 100%;
object-fit: cover;
}
.container-2{
    position: relative;
}

.coat{
    margin-left: auto;
    margin-right: auto;
}
.coat img{
    display: block;
    width: 70%;
    margin: auto;
}

.plants{
    margin-left: auto;
    margin-right: auto;
}
.plants img{
    display: block;
    width: 70%;
    margin: auto;
}
.shoes{
    margin-left: auto;
    margin-right: auto;
}
.shoes img{
    display: block;
    width: 60%;
    margin: auto;
}

.manshoes{
    margin-left: auto;
    margin-right: auto;
}
.manshoes img{
    display: block;
    width: 60%;
    margin: auto;
}

.womencoat{
    margin-left: auto;
    margin-right: auto;
}
.womencoat img{
    display: block;
    width: 60%;
    margin: auto;
}


.womenplants{
    margin-left: auto;
    margin-right: auto;
}
.womenplants img{
    display: block;
    width: 60%;
    margin: auto;
}


.womenshoes{
    margin-left: auto;
    margin-right: auto;
}
.womenshoes img{
    display: block;
    width: 60%;
    margin: auto;
}
.soldout{
    position: absolute;
    bottom: 150px;
    left:150px;
}





}